/* Import google fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont,
    avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  background-color: #eeeeee;
}

a {
  text-decoration: none !important;
}

/* Fix safari rounded corner bug and grey background while tapping */
* {
  -webkit-tap-highlight-color: transparent;
}

a,
article,
div,
h1,
h2,
h3,
h4,
h5,
h6,
img,
section,
span {
  -moz-user-select: none;
  -webkit-user-select: none;
}

input,
select,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* Start of navigation bar */
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2e2e;
  padding: 0.25rem 2rem;
}

.nav-logo {
  padding: 0;
}

.nav-logo a {
  font-family: "Pattaya", sans-serif, -apple-system, BlinkMacSystemFont,
    avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  font-size: 1.75rem;
  color: orange;
}

.nav-menu-item {
  display: inline-block !important;
  position: relative;
  z-index: 1;
  padding: 1rem;
  margin: -1rem;
}

.nav-menu-item span {
  padding: 0 0.5rem;
}

.nav-menu ul,
.social-icon ul,
.nav-footer ul {
  list-style: none;
  margin-bottom: 0 !important;
}

.nav-menu ul li {
  padding: 1rem 0.5rem;
}

.nav-menu a,
.nav-footer a {
  font-size: 1rem;
  font-weight: bold;
  color: whitesmoke;
}

.nav-menu ul li:hover {
  background-color: orange;
  transition: all 0.3s;
}

.nav-menu ul li a:hover {
  cursor: pointer;
}

.nav-logo a,
.nav-menu li a {
  display: block;
}

.nav-toggle a {
  font-weight: bold;
  color: whitesmoke;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-toggle {
  order: 1;
}

.nav-menu {
  order: 2;
  width: 100%;
  display: none;
}

.nav-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-menu ul li {
  width: 100%;
  text-align: center;
}

.nav-menu.active {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eeeeee;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  top: 3.65rem;
  left: 0rem;
  width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .logged {
  background-color: grey;
}

/* Start of home body */
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.banner {
  height: calc(100vh - 3rem);
  background-image: url(/images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 80%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-attachment: fixed; */
}

.banner-title {
  color: whitesmoke;
  font-size: 4rem;
  font-family: "Satisfy", cursive, -apple-system, BlinkMacSystemFont,
    avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
}

.banner-intro {
  color: whitesmoke;
  font-size: 2rem;
  font-style: italic;
  line-height: 3rem;
}

.banner-button {
  margin-top: 2rem;
}

.banner-button a {
  padding: 0.75rem;
  background-color: orange;
  text-decoration: none;
  color: #2e2e2e;
  font-size: 1.25rem;
  font-weight: bold;
}

.home-body,
.menu-body {
  width: 95%;
  margin: 1.5rem auto;
}

.home-body-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5rem 0;
  color: #2e2e2e;
}

.home-body-first {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  margin: 1.5rem 0;
  justify-content: center;
  padding: 0 0.5rem;
}

.home-body-second {
  display: grid;
  grid-template-columns: minmax(100px, max-content) minmax(100px, max-content);
  gap: 1rem;
  justify-content: center;
  align-content: center;
}

.home-body-first .category {
  position: relative;
}

.home-body-first .category img,
.top-drink img {
  max-width: 100%;
  height: auto;
}

.home-body-first .category .category-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.75);
  color: orange;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-drink img {
  border-radius: 50%;
}

.top-drink {
  text-align: center;
}

.top-drink-name {
  font-size: 1.25rem;
  font-weight: bold;
  color: #2e2e2e;
}

.top-drink-price {
  font-size: 1rem;
  font-weight: bold;
  color: #ee770b;
}

.top-drink {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(150px, max-content) 1fr;
  gap: 0.5rem;
  justify-items: center;
  align-items: center;
}

.top-drink-info {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr 0.5fr;
  gap: 0.5rem;
  align-self: stretch;
}

/* Start of menu body */
.side-bar-list {
  display: flex;
  list-style: none;
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
  background-color: #fafafa;
  padding: 1rem;
  justify-content: space-between;
}

.side-bar-link {
  text-decoration: none;
  color: #2e2e2e;
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
}

.menu-header {
  font-size: 2rem;
  font-weight: bold;
  color: #ee770b;
  padding: 1rem 0;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 2rem;
  grid-gap: 2rem;
  justify-content: space-between;
  align-content: flex-start;
}

.menu-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(150px, max-content) 1fr;
  background-color: #fafafa;
}

.menu-item-image img {
  height: auto;
  width: 100%;
}

.menu-item-info {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  align-content: center;
}

.menu-item-info>* {
  padding: 0.5rem 0.5rem;
}

.menu-item-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2e2e2e;
}

.menu-item-description {
  font-size: 1rem;
  color: #a59d9d;
}

.menu-item-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ee770b;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.menu-item-price .price {
  align-self: center;
}

.menu-item-price .status {
  color: white;
  font-weight: 400;
  padding: 0.5rem;
  background-color: orange;
  border-radius: 5px;
  font-size: 0.85rem;
}

/* Start of login & register form */
.login-container,
.register-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 1.5rem 1rem;
}

.login-form,
.register-form {
  width: 350px;
  padding: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fafafa;
}

.login-form h1,
.register-form h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.login-form p,
.register-form p {
  margin-top: 1rem;
}

.login-form form,
.register-form form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.login-form form input,
.register-form form input {
  display: block;
  width: 100%;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  color: #444;
}

.form-btn {
  display: inline-block;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: orange;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-top: 0.5rem;
}

.error-message {
  text-align: center;
  color: #7c550f;
  background-color: #fcedd2;
  border-color: #fbe5c0;
  padding: 0.5rem 0.25rem;
  margin-bottom: 0.5rem;
}

.success-message {
  text-align: center;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 0.5rem 0.25rem;
  margin-bottom: 0.5rem;
}

.tologin {
  margin-top: 1.25rem;
  text-align: center;
  font-style: italic;
  color: #850503;
}

/* Start of footer */
footer {
  background-color: #2e2e2e;
}

.copyright {
  color: white;
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 0.5rem;
}

.social-icon a {
  color: orange;
  font-size: 1.5rem;
}

.social-icon ul,
.nav-footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1.25rem;
}

.social-icon ul li {
  margin: 0 0.75rem;
  text-align: center;
}

.nav-footer ul li {
  margin: 0 1.5rem;
}

.nav-footer ul li:hover,
.nav-footer ul li a:hover {
  color: orange;
  transition: 0.3s all;
}

.newsletter {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
  margin-top: 2rem;
}

.newsletter-subtitle {
  color: #a59d9d;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newsletter-email {
  height: 2rem;
  border: 0;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  color: #444;
  width: 15rem;
}

.newsletter-button {
  font-size: 1rem;
  padding: 5px;
  height: 2rem;
  border: 0;
}

.newsletter-button {
  background-color: orange;
  cursor: pointer;
  width: 2rem;
}

/* Start of single page item */
.item-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 1.5rem 1rem;
}

.item-description {
  display: grid;
  grid-template-columns: 1fr;
}

.item-image {
  justify-self: center;
}

.item-info {
  text-align: center;
}

.item-info>* {
  margin-bottom: 0.75rem;
}

.item-info .title {
  font-size: 2rem;
  font-weight: bold;
}

.item-info .price {
  color: #ee770b;
  font-size: 1.5rem;
}

.item-info .intro {
  font-size: 1.25rem;
}

.item-info .category {
  color: #a59d9d;
  font-style: italic;
  font-size: 1rem;
}

.item-info form input {
  border: 1px solid #cbc8d0;
  font-size: 1rem;
  color: #444;
  padding: 5px;
  width: 5rem;
}

.item-info form button {
  display: inline-block;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: orange;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-top: 1rem;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-size: 0.9rem;
}

:-moz-placeholder {
  font-style: italic;
  font-size: 0.9rem;
}

::-moz-placeholder {
  font-style: italic;
  font-size: 0.9rem;
}

:-ms-input-placeholder {
  font-style: italic;
  font-size: 0.9rem;
}

/* Start of dashboard */
.dashboard-side-bar {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #fafafa;
  padding: 0.5rem 2rem;
}

.dashboard-side-bar-item {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.dashboard-side-bar-link {
  color: #850503 !important;
}

.dashboard-title,
.dashboard-subtitle {
  padding: 0 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dashboard-table {
  display: grid;
  grid-template-columns: 90px auto;
  gap: 0.5rem;
  padding: 0 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Start of media width */
@media screen and (min-width: 768px) {
  .nav-toggle {
    display: none;
  }

  .nav-menu {
    display: block;
    width: auto;
  }

  .nav-menu ul li {
    width: 8rem;
    margin-left: 0.75rem;
    padding: 0.5rem;
  }

  .logged {
    display: flex;
    align-self: center;
  }

  .user-logged {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: bold;
    color: white;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #eeeeee;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    top: 2.9rem !important;
    left: 0rem;
    width: 100%;
  }

  .register {
    border-radius: 25px;
    background-color: grey;
  }

  .login {
    border-radius: 25px;
    background-color: orange;
  }

  .menu-body {
    display: grid;
    grid-template-columns: 25% auto;
    grid-gap: 1rem;
    gap: 1rem;
  }

  .dashboard-body {
    grid-template-columns: 25% auto !important;
  }

  .side-bar {
    height: 50px;
  }

  .side-bar-list {
    flex-direction: column;
  }

  .side-bar-item {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .dashboard-side-bar {
    height: 150px;
    padding: 0.75rem !important;
  }

  .dashboard-title {
    margin-top: 0.5rem !important;
    margin-bottom: 1.25rem !important;
  }

  .dashboard-subtitle {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .menu {
    padding: 0 0 0 1rem;
    border-left: 2px solid #ee770b;
  }

  .menu-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
  }

  .menu-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(200px, max-content) 1fr !important;
  }

  .menu-item-info {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 0.5fr 1fr 0.5fr !important;
    align-content: center;
  }

  /* Start of item single page */
  .item-description {
    display: grid;
    grid-template-columns: minmax(250px, 0.75fr) 1fr !important;
    gap: 2rem;
  }

  .item-image {
    justify-self: end;
  }

  .item-info {
    text-align: left !important;
  }
}

@media screen and (min-width: 992px) {
  .home-body-first {
    display: grid;
    grid-template-columns: repeat(4, auto) !important;
    align-self: center;
    justify-self: center;
    gap: 1rem;
  }

  .home-body-second {
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(250px, max-content)) !important;
    gap: 1rem;
    justify-content: center;
    align-content: center;
  }
}

/* Start of data manage page */
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.category-image,
.drink-image {
  width: 50px;
  height: 50px;
}

.td-image {
  padding: 0.5rem !important;
}

label {
  margin-bottom: 0 !important;
}

.small-font {
  font-size: 0.75rem !important;
}

.space-shrink {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.thumbnail {
  width: 50px;
  height: 50px;
  margin-top: 0.75rem;
}